body {
font-family: "Patrick Hand", cursive;
background-image:
linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
url("https://cdn.pixabay.com/photo/2014/10/30/19/21/angola-509598_960_720.jpg");

background-size: cover;
background-position: center;
background-attachment: fixed;

color: #f4e6d4;

margin: 0;
padding: 2rem;

text-align: center;
line-height: 1.7;
}

header {
margin-bottom: 3rem;
}

h1 {
font-size: 3rem;
color: #ddb892;
}

.subtitle {
font-size: 1.3rem;
color: #e6ccb2;
}

section {
max-width: 800px;
margin: 2rem auto;
padding: 1.5rem;

background-color: rgba(0, 0, 0, 0.45);

border-left: 4px solid #bc6c25;
border-radius: 10px;
}

h2 {
color: #ddb892;
}

.project-card {
margin-top: 1.5rem;
}

h3 {
color: #ffd6a5;
}
